doctype html
head
	meta(charset='utf-8')
	title Quadratic Voting
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width')
	
	// Angular single-page-app routing without hash. See app.js
	base(href='/')
	
	script(src='/bower_components/angular/angular.js')
	script(src='/bower_components/jquery/dist/jquery.js')
	
	script(src='/src/quadratic-voting/quadratic-voting.js')
	script(src='/src/quadratic-voting/app/app.js')
	link(rel='stylesheet' href='/src/quadratic-voting/app/app.css')
	
	style.
		html, body {
			padding: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			background: #eee;
		}

body(ng-app='QuadraticVoting')
	qv-app
	
	| <a href="https://github.com/keithguerin/quadratic-voting"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
	
	// Google Analytics: change UA-XXXXX-X to be your site's ID
	script.
		!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
		(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
		r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
		}(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');