.inner
	.instructions
		h1 What's for dinner?
		p Vote for what you'd like to eat. You have <b>{{votesPerPerson}}</b> tokens to allocate however you like. You can vote for an item more than once, but it will cost you quadratically more.
		h4 Votes cost:
		ul
			li(ng-repeat='i in [1,2,3,4,5]') {{i}} vote : {{getVoteCost(i)}} tokens
			//.votes-total {{votesPerPerson}} votes per person
	.votes-remaining
		.label You have {{getVotesRemaining()}} tokens left
		.vote-meter(style='width: {{(votesPerPerson * 10)}}px !important')
			.inner(style='width: {{(getVotesRemaining() * 10)}}px')
	.ballot
		.ballot-item(ng-repeat='ballotItem in ballotItems')
			h4.question {{ballotItem.question}}
			ul.options
				li.option(ng-repeat='option in ballotItem.options')
					.buttons
						button(ng-click='addVote(option)' ng-disabled='!doShowAddVoteButton(option)') +
						button(ng-click='removeVote(option)' ng-show='doShowRemoveVoteButton(option)') -
					.label {{option.name}}
					.vote-count {{getVoteCount(option)}} votes
					.vote-meter
						.inner(style='width: {{(getVoteCount(option) * 20)}}px')
	.about
		h4 About
		p This is an prototype of quadratic voting, as inspired by <a href='http://www.spectator.co.uk/features/9512322/humans-are-doing-democracy-wrong-bees-are-doing-it-right/'>this article on bees</a> and <a href='http://ericposner.com/quadratic-voting/'>Eric Posner's proposal</a>.
		
		p It allows you to vote for dinner. Each voter receives the same number of tokens to vote with. You can vote for a single item more than once, but the cost of a vote increases exponentially.
		
		p In contrast with Poser's proposal, this prototype takes the opinion that each person should have the same number of tokens, rather than allowing votes to be paid for in cash.