
<div class="inner">
  <div class="instructions">
    <h1>What's for dinner?</h1>
    <p>Vote for what you'd like to eat. You have <b>{{votesPerPerson}}</b> tokens to allocate however you like. You can vote for an item more than once, but it will cost you more tokens for each vote.</p>
    <ul>
      <li ng-repeat="i in [1,2,3,4]">{{i}} vote : {{getVoteCost(i)}} tokens</li>
      <!--.votes-total {{votesPerPerson}} votes per person-->
    </ul>
  </div>
  <div class="votes-remaining">
    <div class="label">You have {{getVotesRemaining()}} tokens left</div>
    <div style="width: {{(votesPerPerson * 10)}}px !important" class="vote-meter">
      <div style="width: {{(getVotesRemaining() * 10)}}px" class="inner"></div>
    </div>
  </div>
  <div class="ballot">
    <div ng-repeat="ballotItem in ballotItems" class="ballot-item">
      <h4 class="question">{{ballotItem.question}}</h4>
      <ul class="options">
        <li ng-repeat="option in ballotItem.options" class="option">
          <div class="buttons">
            <button ng-click="addVote(option)" ng-disabled="!doShowAddVoteButton(option)">+</button>
            <button ng-click="removeVote(option)" ng-show="doShowRemoveVoteButton(option)">-</button>
          </div>
          <div class="label">{{option.name}}</div>
          <div class="vote-count">{{getVoteCount(option)}} votes</div>
          <div class="vote-meter">
            <div ng-repeat="vote in getVoteCount(option, true)" style="width: 20px" class="inner"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about">
    <h4>About</h4>
    <p>This is an prototype of quadratic voting, as inspired by <a href='http://www.spectator.co.uk/features/9512322/humans-are-doing-democracy-wrong-bees-are-doing-it-right/'>this article on bees</a> and <a href='http://ericposner.com/quadratic-voting/'>Eric Posner's proposal</a>.</p>
    <p>It allows you to vote for dinner. Each voter receives the same number of tokens to vote with. You can vote for a single item more than once, but the cost of a vote increases exponentially.</p>
    <p>In contrast with Poser's proposal, this prototype takes the opinion that each person should have the same number of tokens, rather than allowing votes to be paid for in cash.</p>
  </div>
</div>